@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>P. Nilegård Enterprises presents</h1>
    <p class="lead">Nilegård Conferences</p>
    <p><a href="/Home/Register" class="btn btn-primary btn-lg">Registrera</a></p>
</div>

<img src="~/Content/percy-nilegard.jpg" />